<div id="body-bg">
            
            <div class=" menu-home-page">
            <div class="container">
                <nav id="menu-home" class="nav nav-bar">
                    <ul >
                        <li><a href="<%= homepage_path %>" title="" class="hvr-shutter-in-vertical">Home</a></li>
                        <li><a href="<%= events_path %>" title="">New Events</a></li>

                        <li><a href="<%= cars_path %>" title="">View Cars</a></li>
                        <li><a href="<%= faq_path %>" title="">FAQ</a></li>
                        <li><a href="<%= new_contact_path %>" title="">Contacts</a></li>
                        
                    </ul>
                </nav>
            </div>
                
            </div>
            <!-- Phone/Email -->
            <div id="pre-header" class="background-gray-lighter">
                <div class="container no-padding">
                    <div class="row hidden-xs">
                        <div class="col-sm-6 padding-vert-5">
                            <strong>Phone:</strong> 123-123-123
                        </div>
                        <div class="col-sm-6 text-right padding-vert-5">
                            <strong>Email:</strong> ndvuong1996@gmail.com
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Phone/Email -->
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <div class="col-md-12">
                            <h2>F.A.Q.</h2>
                            <p>Te lorem dolorum sadipscing vel, has in ullum dicunt, ea eos appetere placerat probatus. Vis eu movet elaboraret, eu scaevola tacimates sed, sint laoreet ex pri. Est dicat consetetur ei, quo mazim debet elitr ad. Vim indoctum
                                expetendis ut, ut nostrud maluisset est. Ignota nemore cum an, voluptua expetenda dignissim eu mei. Pellentesque nec eros nulla. Vivamus nec ligula dolor. In facilisis suscipit gravida. Nunc malesuada.</p>
                            <hr class="margin-vert-40">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active in fade" id="faq">
                                            <div class="panel-group" id="accordion">
                                                <!-- FAQ Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub">
                                                            <h4 class="panel-title">
                                                                Vim reque aperiam tritani at?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Ut impetus oblique tacimates vis. Vim reque aperiam tritani at. Clita disputationi sed in. Ne etiam sententiae mel, vix graecis apeirian dissentiet ei. Ei habeo vitae qualisque sed, regione ornatus platonem at vis.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-2">
                                                            <h4 class="panel-title">
                                                                Regione ornatus platonem at vis?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-2" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Vim ne utinam definitiones, quo ne wisi adipiscing, labore democritum eam in. Ad vel alterum dolores, verear alienum mediocrem vel ad. Soleat appareat per te, vel possim fabulas adolescens ad. Bonorum laoreet et mea.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-3">
                                                            <h4 class="panel-title">
                                                                Has in ullum dicunt, ea eos appetere placerat probatus?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-3" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Te lorem dolorum sadipscing vel, has in ullum dicunt, ea eos appetere placerat probatus. Vis eu movet elaboraret, eu scaevola tacimates sed, sint laoreet ex pri. Est dicat consetetur ei, quo mazim debet elitr ad. Vim indoctum expetendis ut, ut nostrud
                                                            maluisset est. Ignota nemore cum an, voluptua expetenda dignissim eu mei.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-4">
                                                            <h4 class="panel-title">
                                                                Ne etiam sententiae mel, vix graecis apeirian dissentiet ei?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-4" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Ut impetus oblique tacimates vis. Vim reque aperiam tritani at. Clita disputationi sed in. Ne etiam sententiae mel, vix graecis apeirian dissentiet ei. Ei habeo vitae qualisque sed, regione ornatus platonem at vis.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-5">
                                                            <h4 class="panel-title">
                                                                Te lorem dolorum sadipscing vel, has in ullum dicunt?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-5" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Te lorem dolorum sadipscing vel, has in ullum dicunt, ea eos appetere placerat probatus. Vis eu movet elaboraret, eu scaevola tacimates sed, sint laoreet ex pri. Est dicat consetetur ei, quo mazim debet elitr ad. Vim indoctum expetendis ut, ut nostrud
                                                            maluisset est. Ignota nemore cum an, voluptua expetenda dignissim eu mei.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-6">
                                                            <h4 class="panel-title">
                                                                Ad vel alterum dolores, verear alienum mediocrem vel ad?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-6" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Vim ne utinam definitiones, quo ne wisi adipiscing, labore democritum eam in. Ad vel alterum dolores, verear alienum mediocrem vel ad. Soleat appareat per te, vel possim fabulas adolescens ad. Bonorum laoreet et mea.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-7">
                                                            <h4 class="panel-title">
                                                                Nulla ubique omnesque in sit. Sea id persius propriae efficiantur?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-7" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Lorem ipsum dolor sit amet, no cetero voluptatum est, audire sensibus maiestatis vis et. Vitae audire prodesset an his. Nulla ubique omnesque in sit. Sea id persius propriae efficiantur.
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End FAQ Item -->
                                                <!-- Faq Item -->
                                                <div class="panel panel-default panel-faq">
                                                    <div class="panel-heading">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-8">
                                                            <h4 class="panel-title">
                                                                Omnium diceret intellegebat ea cum, nibh falli alterum usu at, ne vidit liber vim?
                                                                <span class="pull-right">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </span>
                                                            </h4>
                                                        </a>
                                                    </div>
                                                    <div id="faq-sub-8" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Omnium diceret intellegebat ea cum, nibh falli alterum usu at, ne vidit liber vim. Vel facer repudiandae at, labitur tibique adipisci et duo, vix viderer debitis ei. Cu eos numquam hendrerit vituperata, eu minim putent vel. Vim ut wisi nominavi delectus,
                                                            docendi civibus electram usu an. Id evertitur definiebas mel. Pri at partiendo dissentiunt philosophia, ad verear oporteat salutandi mel.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h3 class="margin-bottom-10">Could not find the answer?</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mauris tempor purus accumsan dignissim. Morbi risus nisl, adipiscing vel sagittis sit amet, condimentum vitae lectus. Pellentesque nec eros nulla. Vivamus
                                        nec ligula dolor. In facilisis suscipit gravida. Nunc malesuada.</p>
                                    <a href="<%= new_contact_path %>" type="button" class="btn btn-primary btn-sm">ASK A QUESTION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
            <!-- === BEGIN FOOTER === -->
            <!-- Footer -->
            <div id="footer" class="background-grey">
                <div class="container">
                    <div class="row">
                        <!-- Footer Menu -->
                        <div id="footermenu" class="col-md-8">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <a href="#" target="_blank">Sample Link</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">Sample Link</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">Sample Link</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">Sample Link</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Footer Menu -->
                        <!-- Copyright -->
                        <div id="copyright" class="col-md-4">
                            <p class="pull-right">(c) 2016 Your Copyright Info</p>
                        </div>
                        <!-- End Copyright -->
                    </div>
                </div>
            </div>