
<nav id="menu-home" class="nav nav-bar menu-home-page">
	<ul class="container">
		<li><a href="<%= homepage_path %>" title="" class="hvr-shutter-in-vertical">Home</a></li>
		<li><a href="<%= events_path %>" title="">New Events</a></li>

		<li><a href="<%= cars_path %>" title="">View Cars</a></li>
		<li><a href="<%= faq_path %>" title="">FAQ</a></li>
		<li><a href="<%= new_contact_path %>" title="">Contacts</a></li>
		<% if(current_user.blank? == false)%>
            <li><a href="<%= logout_path %>" title="">log out</a></li>
        <% else %>
            <li><a href="<%= login_path %>" title="">log in</a></li>
        <% end %>
	</ul>
</nav>
	

<div class="intro">
	<div class="content_intro animate flipInX">
		<p>With an average of more than 31 million visits each month, Cars.com is the leading online destination for car shoppers and owners. We offer credible and easy-to-understand information to help consumers research, price and find new and used vehicles and quality service and repair providers.

		Through unbiased editorial content, vehicle listings, dealer reviews, side-by-side comparison options, build and price tools, photo galleries and videos, Cars.com gives drivers the information they need to make confident decisions.

		Launched in June 1998, Cars.com is owned by TEGNA Inc. and operates Auto.com, NewCars.com® and PickupTrucks.com™.

		</p>
	</div>
	<div class="intro-next animate flipInX">
		<a href="#info" title=""><i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i></a>
	</div>

</div>
<div class="info row animate fadeInUpBig" id="info">
	<h2 class="margin-bottom-10">New Cars</h2>
	<div id="carousel-example-2" class="carousel slide alternative" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-2" data-slide-to="1"></li>
	  </ol>
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <div class="row">
	        <% @cars.each do |car| %>
		      <div class="col-sm-6 col-md-3">
		        <div class="">
		          <div class="image-index">
		            <%= image_tag car.image.url(:medium) %>
		            <%= image_tag car.typeofcar.company.logo.url() %>
		          </div>
		        </div>
		      </div>
		    <% end %>
	      </div>
	    </div>
	    <div class="item">
	      <div class="row">
	        <div class="col-md-3"><img src="/system/localimage/image/lambo1_2.jpg" style="max-width:100%;"></div>
	        <div class="col-md-3"><img src="/system/localimage/image/lambo1_2.jpg" style="max-width:100%;"></div>
	        <div class="col-md-3"><img src="/system/localimage/image/lambo1_2.jpg" style="max-width:100%;"></div>
	        <div class="col-md-3"><img src="/system/localimage/image/lambo1_2.jpg" style="max-width:100%;"></div>
	      </div>
	    </div>
	  </div>
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-2" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-2" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>


</div>
<div class="video-intro row animate rotateInUpLeft">
	<div class="col-md-6">
		<iframe width="100%" height="500" src="https://www.youtube.com/embed/uWujRYVvjn8" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="col-md-6">
		<img src="/system/localimage/image/lambo1_2.jpg" alt="">
	</div>
	
</div>
<div class="row margin-vert-30">
                        <div class="col-md-12">
                            <h2 class="margin-bottom-10">Services</h2>
                            <!-- Intro / Why Us? -->
                            <div class="row">
                                <div class="col-md-8 animate fadeInLeft">
                                    <p>Iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non sit amet, consectetur adipiscing elit. Ut adipiscing
                                        elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque lorem ipsum dolor sit amet. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat consectetur adipiscing
                                        elit</p>
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                        magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                        excepturi sint occaecati cupiditate non sit amet, consectetur adipiscing elit. Ut adipiscing elit magna.</p>
                                </div>
                                <div class="col-md-4 animate fadeIn">
                                    <h3 class="margin-bottom-10">Why Us?</h3>
                                    <ul class="list-unstyled list-services">
                                        <li>
                                            <i class="fa fa-chevron-right color-gray-lighter"></i>Super Clean Code</li>
                                        <li>
                                            <i class="fa fa-chevron-right color-gray-lighter"></i>100% Commented</li>
                                        <li>
                                            <i class="fa fa-chevron-right color-gray-lighter"></i>Responsive Design</li>
                                        <li>
                                            <i class="fa fa-chevron-right color-gray-lighter"></i>Unique Styling</li>
                                        <li>
                                            <i class="fa fa-chevron-right color-gray-lighter"></i>Packed with Features</li>
                                        <li>
                                            <i class="fa fa-chevron-right color-gray-lighter"></i>Updated Regularly</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Intro / Why Us? -->
                            <div class="row">
                                <hr class="margin-top-20 margin-bottom-30">
                            </div>
                            <div class="row">
                                <div class="col-md-12 animate fadeInUp padding-top-10">
                                    <img src="/system/localimage/bg/service.jpg" alt="filler image" style="margin: 0 auto; display: block;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-right animate fadeInLeft">
                                    <h4>Iusto odio dignissimos</h4>
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</p>
                                    <h4>Fusce condimentum</h4>
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</p>
                                </div>
                                <div class="col-md-6 animate fadeInRight">
                                    <h4>Fusce condimentum</h4>
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</p>
                                    <h4>Quam nunc putamus</h4>
                                    <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.</p>
                                </div>
                            </div>
                            <hr class="margin-top-20 margin-bottom-30">
                            <!-- Top Panels -->
                            <div class="row padding-top-20">
                                <div class="col-md-3 animate fadeInLeft">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <i class="fa fa-tasks fa-4x"></i>
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3 class="margin-bottom-10">Responsive Layout</h3>
                                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 animate fadeIn">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <i class="fa fa-twitter fa-4x"></i>
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3 class="margin-bottom-10">Bootstrap 3</h3>
                                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 animate fadeIn">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <i class="fa fa-code fa-4x"></i>
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3 class="margin-bottom-10">Clean Code</h3>
                                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 animate fadeInRight">
                                    <div class="panel panel-default">
                                        <div class="panel-heading text-center">
                                            <i class="fa fa-list-ul fa-4x"></i>
                                        </div>
                                        <div class="panel-body text-center">
                                            <h3 class="margin-bottom-10">Loaded</h3>
                                            Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Top Panels -->
                            <hr class="margin-top-3	0">
                            <!-- Middle Text -->
                            <div class="row">
                                <div class="col-md-12 text-center margin-top-10 animate fadeInUp">
                                    <h2 class="text-center">Nulla in enim quis ipsum pulvinar imperdiet vitae nec velit..</h2>
                                    <p class="text-center margin-bottom-20">Aenean venenatis egestas iaculis. Donec non urna quam. Nullam consectetur condimentum dolor at bibendum.</p>
                                </div>
                            </div>
                            <!-- End Middle Text -->
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
            <!-- === BEGIN FOOTER === -->
            <div id="base">
                <div class="container bottom-border padding-vert-30">
                    <div class="row">
                        <!-- Disclaimer -->
                        <div class="col-md-4">
                            <h3 class="class margin-bottom-10">Disclaimer</h3>
                            <p>All stock images on this template demo are for presentation purposes only, intended to represent a live site and are not included with the template or in any of the Joomla51 club membership plans.</p>
                            <p>Most of the images used here are available from
                                <a href="http://www.shutterstock.com/" target="_blank">shutterstock.com</a>. Links are provided if you wish to purchase them from their copyright owners.</p>
                        </div>
                        <!-- End Disclaimer -->
                        <!-- Contact Details -->
                        <div class="col-md-4 margin-bottom-20">
                            <h3 class="margin-bottom-10">Contact Details</h3>
                            <p>
                                <span class="fa-phone">Telephone:</span>1-800-123-4567
                                <br>
                                <span class="fa-envelope">Email:</span>
                                <a href="mailto:info@example.com">info@example.com</a>
                                <br>
                                <span class="fa-link">Website:</span>
                                <a href="http://www.example.com">www.example.com</a>
                            </p>
                            <p>The Dunes, Top Road,
                                <br>Strandhill,
                                <br>Co. Sligo,
                                <br>Ireland</p>
                        </div>
                        <!-- End Contact Details -->
                        <!-- Sample Menu -->
                        <div class="col-md-4 margin-bottom-20">
                            <h3 class="margin-bottom-10">Sample Menu</h3>
                            <ul class="menu">
                                <li>
                                    <a class="fa-tasks" href="#">Placerat facer possim</a>
                                </li>
                                <li>
                                    <a class="fa-users" href="#">Quam nunc putamus</a>
                                </li>
                                <li>
                                    <a class="fa-signal" href="#">Velit esse molestie</a>
                                </li>
                                <li>
                                    <a class="fa-coffee" href="#">Nam liber tempor</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!-- End Sample Menu -->
                    </div>
                </div>
            </div>
