
<nav id="menu-home" class="nav nav-bar menu-home-page">
	<ul>
		<li><a href="<%= homepage_path %>" title="" class="hvr-shutter-in-vertical">Home</a></li>
		<li><a href="<%= events_path %>" title="">New Events</a></li>

		<li><a href="<%= cars_path %>" title="">View Cars</a></li>
		<li><a href="<%= faq_path %>" title="">FAQ</a></li>
		<li><a href="<%= new_contact_path %>" title="">Contacts</a></li>
		
	</ul>
</nav>
<div class="bgcolor">
	

<div class="content">
	<div class="search-home">
		<form action="result.html" method="get" accept-charset="utf-8">
			<input type="text" name="search-content-home" placeholder="Search cars here">
		</form>
	</div>

	<a href="<%= cars_path %>" class="viewcar hvr-shutter-out-horizontal">
	<img src="system/localimage/image/next.png" alt="">
	</a>
	<div class="logocompany">
		<a>Thanh Cong Group</a>
	</div>

</div>
</div>
