<p id="notice"><%= notice %></p>

<h1>Listing Trycars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Old</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Driver license</th>
      <th>Car</th>
      <th>Fee trial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trycars.each do |trycar| %>
      <tr>
        <td><%= trycar.name %></td>
        <td><%= trycar.old %></td>
        <td><%= trycar.address %></td>
        <td><%= trycar.phone %></td>
        <td><%= trycar.driver_license %></td>
        <td><%= trycar.car_id %></td>
        <td><%= trycar.fee_trial %></td>
        <td><%= link_to 'Show', trycar %></td>
        <td><%= link_to 'Edit', edit_trycar_path(trycar) %></td>
        <td><%= link_to 'Destroy', trycar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trycar', new_trycar_path %>
