	
	<div class="form-trycar">
		<%= form_for ([@car, @car.trycars.new])  do |f| %>

		  <div class="field">
		    <%= f.label :name %><br>
		    <%= f.text_field :name, :class => "form-control" %>
		  </div>
		  <div class="field">
		    <%= f.label :old %><br>
		    <%= f.number_field :old, :class => "form-control" %>
		  </div>
		  <div class="field">
		    <%= f.label :address %><br>
		    <%= f.text_field :address, :class => "form-control" %>
		  </div>
		  <div class="field">
		    <%= f.label :phone %><br>
		    <%= f.text_field :phone, :class => "form-control" %>
		  </div>
		  <div class="field">
		    <%= f.label :driver_license %><br>
		    <%= f.text_field :driver_license, :class => "form-control" %>
		  </div>

		  <div class="field">
		      <%= f.hidden_field :car_id, :value => current_car.id %>
		    </div>
		  <div class="field">
		    <%= f.label :fee_trial, "fee_trial: $" %><br>
		    <%= f.number_field :fee_trial, :value => ((@car.prices)*2/100), :disabled =>"disabled" %>
		  </div>
		  <div class="actions">
		    <%= f.submit :class => "btn btn-danger" %>
		  </div>
		<% end %>

	</div>

